.main {
  display: flex;
  box-sizing: border-box;
  margin: 2% 5%;

}

.left {
  flex: 1;
  flex-wrap: row;
}

#app1 {
  flex-basis: 50%;
  margin-bottom: 36px;
}
#app3 {
  margin-right: 5%;
}

.right {
  flex-basis: 35%;
}